# MySql

In [1]:
!pip install mysqlclient

Requirement already satisfied: mysqlclient in e:\programs1\python datamining1\lib\site-packages (2.1.0)

In [2]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in e:\programs1\python datamining1\lib\site-packages (8.0.29)
Requirement already satisfied: protobuf>=3.0.0 in e:\programs1\python datamining1\lib\site-packages (from mysql-connector-python) (3.20.1)

In [3]:
import mysql.connector as conn

In [7]:
# test mysql connection
db = conn.connect(host="localhost", user="root", password="")
db

In [63]:
class DBOperation():
    def __init__(self):
        pass
    def __db_conn(self, host="localhost", user="root", password="" , db_name=""):
        try:
            if db_name != "":
                db = conn.connect(host=host, user=user, password=password, database=db_name)
                return db
            else:
                db = conn.connect(host=host, user=user, password=password)
                return db
        except Exception as e:
            print(e, "Database Connection error")
            
    def create_database(self, db_name):
        try:
            db = self.__db_conn()
            sql = "CREATE DATABASE {}".format(db_name)
            cursor = db.cursor()
            cursor.execute(sql)
            cursor.close()
            db.close()
            print("Database created successfully")
        
        except Exception as e:
            print(e, "exception raise  when create a database")
            
    def show_databases(self):
        try:
            db = self.__db_conn()
            
            sql = "SHOW DATABASES"
            cursor = db.cursor()
            cursor.execute(sql)
            for i in cursor:
                print(i)
            cursor.close()
            db.close()   
            
        
        except Exception as e:
            print(e,"No database exists")
            
    def create_table(self, db_name, table_name):
        try:
            db = self.__db_conn(db_name=db_name)
            sql = "CREATE TABLE {}(id integer primary key auto_increment, name varchar(255), dept varchar(255))".format(table_name)
            cursor = db.cursor()
            cursor.execute(sql)
            cursor.close()
            db.close()
            print(table_name,"Table created successfully")
            
        except Exception as e:
            print(e,"exception raise  when create a table")
            
            
    def insert_data_into_table(self, db_name, table_name, name, dept):
        try:
            db = self.__db_conn(db_name=db_name)
            sql = " INSERT INTO {}(id,name,dept) VALUES(%s, %s, %s)".format(table_name)
            values = (0, name, dept)
            cursor = db.cursor()
            cursor.execute(sql, values)
            db.commit()
            cursor.close()
            db.close()
            print("data inserted successfully")
            
        except Exception as e:
            print(e,"exception raise  when insert data")
            
    def fetch_data_from_table(self, db_name, table_name):
        try:
            db = self.__db_conn(db_name=db_name)
            sql = " SELECT * FROM {}".format(table_name)
            
            cursor = db.cursor()
            cursor.execute(sql)
            res = cursor.fetchall()
            for i in res:
                print(i)
            cursor.close()
            db.close()
            
        except Exception as e:
            print(e,"exception raise  when fetch data from table")
            
    def update_data_into_table(self, db_name, table_name, _id, name="", dept=""):
        Name, Dept = "", ""
        try:
            db = self.__db_conn(db_name=db_name)
            sql = " SELECT * FROM {} WHERE id={}".format(table_name, _id)
            cursor = db.cursor()
            cursor.execute(sql)
            res = cursor.fetchone()
            Name, Dept = res[1], res[2]
            print(Name, Dept)
            
        except Exception as e:
            print(e)
           
        try:
            db = self.__db_conn(db_name=db_name)
            if name!="" or dept!="":
                sql = " UPDATE {}SET name={},  dept={}  WHERE id={},".format(table_name, name, dept, _id)
            values = (0, name, dept)
            cursor = db.cursor()
            cursor.execute(sql, values)
            db.commit()
            cursor.close()
            db.close()
            print("data inserted successfully")
            
        except Exception as e:
            print(e, "exception raise when insert data")

In [64]:
db_op = DBOperation()

In [50]:
db_op.create_database("college")

1007 (HY000): Can't create database 'college'; database exists exception raise  when create a database

In [57]:
db_op.show_databases()

('bank',)
('college',)
('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('school',)
('student',)
('test',)

In [58]:
db_op.create_table("college", "student")

1050 (42S01): Table 'student' already exists exception raise  when create a table

In [59]:
db_op.insert_data_into_table("college", "student", "Rakib" ,"CSE")

data inserted successfully

In [60]:
db_op.fetch_data_from_table("college", "student")

(3, 'Rakib', 'CSE')

In [67]:
db_op.update_data_into_table("college", "student", 3)

Rakib CSE
Not all parameters were used in the SQL statement exception raise when insert data

In [71]:
db_op.update_data_into_table("college", "student", 3)

Rakib CSE
Not all parameters were used in the SQL statement exception raise when insert data

In [72]:
db_op.insert_data_into_table("college", "student", "Nahid" ,"CSE")

data inserted successfully

In [73]:
db_op.fetch_data_from_table("college", "student")

(3, 'Rakib', 'CSE')
(4, 'Nahid', 'CSE')

In [74]:
db_op.update_data_into_table("college", "student", 4)

Nahid CSE
Not all parameters were used in the SQL statement exception raise when insert data

In [75]:
db_op.insert_data_into_table("college", "student", "Sazzad" ,"BBA")

data inserted successfully

In [76]:
db_op.fetch_data_from_table("college", "student")

(3, 'Rakib', 'CSE')
(4, 'Nahid', 'CSE')
(5, 'Sazzad', 'BBA')

In [78]:
db_op.update_data_into_table("college", "student", 5)

Sazzad BBA
Not all parameters were used in the SQL statement exception raise when insert data